.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 0.5rem; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.info-candidato {
    width: 50px;
    height: 50px;
    background-color: #00ac00;
    border-radius: 50%;
    position: fixed;
    top: 100px;
    left: 79%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.info-candidato:hover {
    background-color: #0a970a;
}

.info-hidden {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    padding: 10px;
    font-family: 'Arial', sans-serif;
    color: #333;
    z-index: 1000;
}

.show {
    display: block;
}

.modal-content {
    font-size: clamp(16px, 2vw, 24px); 
}

.close {
    font-size: 2vw; 
}


@media (max-width: 768px) {
    #profileDescription,
    .modal-content h1 {
        font-size: 18px; 
    }
}

@media (max-width: 480px) {
    #profileDescription,
    .modal-content h1 {
        font-size: 14px; 
    }
}