@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}
.logo{
    position: absolute;
    max-width: 45px;
    left: 23px;
    top: 9px;
    z-index: 2;
}
header{
    display: flex;
    background-color: #39A900;
    justify-content: right;
    align-items: center;
    height: 65px;
    padding: 5px 10%;
}
.menu-principal{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 79px;
}
.menu-principal>li>a{
    display: block;
    padding: 19px 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
}
.menu-principal>li>a:hover{
   background-color: green;
}
.boton_ir {
    padding: 8px 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    margin-left: -75px;
    border-radius: 5px;
}
a .boton_ir:hover {
    text-decoration: underline;
}