.contenedor {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#banner {
    position: relative;
    width: 100%;
    height: 500px; 
    overflow: hidden; 
}

.section_caja {
    width: 100%;
    height: 100%;
}

.img_caja {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}


.titulo {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    text-align: center; 
    z-index: 10; 
    padding: 20px; 
    background: rgba(138, 138, 138, 0.5); 
    border-radius: 10px; 
}
.titulo h1, .titulo p {
    margin: 0;
    padding: 0;
}
.boxes {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-between; 
}

.desc{
    flex: 1 1 30%;
    margin-top: 55px;
    margin-bottom: 45px;
    width: 28%;
    height: auto;
    background-color: white;
    border: 1px solid #39A900;
    padding: 15px 27px;
    font-size: 17px;
    box-sizing: border-box;
}
.desc ul {
    padding-left: 20px; /* Espaciado izquierdo para la lista */
}
.desc li {
    margin-bottom: 10px; /* Espaciado entre los elementos de la lista */
}

.desc h2{
    color: green;
}
.desc button{
    border: none;
    background-color: #39A900;
    border-radius: 5px;
    font-weight: bold;
    height: 23px;
    width: 64px;
}
.desc button a{
    color: white;
    text-decoration: none;
}
.desc button a:hover{
    text-decoration: underline;
}
.linea {
    border: 0; 
    height: 1px; 
    background: #39A900;
    margin: 20px 0; 
}
@media (max-width: 768px) {
    .desc {
        flex: 1 1 100%; 
    }
}